---
import Card from "@/components/CardExperience.astro";
import aboutData from "@/data/about.json";
import educationData from "@/data/education.json";
import experienceData from "@/data/experience.json";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import "@/styles/global.css";

function highlight(text: string, emphasis?: string) {
  if (!emphasis) return text;

  return text.replace(
    emphasis,
    `<span class="text-[var(--white-icon)] font-semibold">${emphasis}</span>`
  );
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const about = aboutData[lang];
const education = educationData[lang];
const experience = experienceData[lang];

function replaceAge(content: string, currentAge: number) {
  const ageToReplace = "%edad%";
  return content.replace(ageToReplace, currentAge.toString());
}

function calculateAge() {
  const today = new Date();
  const birthday = new Date("1998-06-12");

  let currentAge = today.getFullYear() - birthday.getFullYear();
  const month = today.getMonth() - birthday.getMonth();

  if (month < 0 || (month === 0 && today.getDate() < birthday.getDate())) {
    currentAge--;
  }

  return currentAge;
}
---

<section id="about" class="mt-20 md:mt-32 bg-transparent mb-8 pb-8">
  <div class="max-w-3xl mx-auto text-center px-6 space-y-10">
    <h2
      class="gradient-text text-center font-extrabold tracking-tight text-6xl text-[var(--white-icon)] pb-12"
    >
      {t("content_about_title")}
    </h2>
  </div>
  <!-- About me and my interests -->
  <div
    class="bg-white/5 rounded-2xl p-8 backdrop-blur-lg shadow-xl border border-white/10 space-y-10"
  >
    {
      about.map((item) => (
        <div class="space-y-3">
          <h3 class="console-title text-md md:text-lg font-mono text-[var(--sec)] before:content-['//'] before:text-[var(--gray)] before:mr-2">
            {item.title}
          </h3>
          <p
            class="text-left text-[var(--gray)] text-lg md:text-xl leading-relaxed"
            set:html={highlight(
              replaceAge(item.description, calculateAge()),
              item.enphasis
            )}
          />
        </div>
      ))
    }
  </div>
  <!-- My career in the world of development -->
  <div class="mt-10 grid grid-cols-1 gap-6 md:grid-cols-2">
    <!-- EXPERIENCE (JOBS) -->
    <div class="space-y-4">
      <h3
        class="text-3xl font-extrabold tracking-tight text-[var(--white-icon)] gradient-text"
      >
        {t("content_experience_title")}
      </h3>
      {experience.map((job) => <Card type={job} />)}
    </div>

    <!-- EDUCATION (Universities) -->
    <div class="space-y-4">
      <h3
        class="text-3xl font-extrabold tracking-tight text-[var(--white-icon)] gradient-text"
      >
        {t("content_education_title")}
      </h3>
      {education.map((edu) => <Card type={edu} />)}
    </div>
  </div>
</section>
