---
import "../styles/global.css";
---

<section id="about" class="mt-20 md:mt-32 bg-transparent mb-8 pb-8">
  <div class="max-w-3xl mx-auto text-center px-6 space-y-10">
    <h2
      class="gradient-text text-center font-extrabold tracking-tight text-6xl text-[var(--white-icon)] pb-12"
    >
      About Me
    </h2>
    <!-- <div class="w-16 h-[3px] bg-[var(--sec)] mx-auto rounded-full mb-2"></div> -->
  </div>
  <div
    class="bg-white/5 rounded-2xl p-8 backdrop-blur-lg shadow-xl border border-white/10 space-y-10"
  >
    <div class="space-y-3">
      <h3
        class="console-title text-md md:text-lg font-mono text-[var(--sec)] before:content-['//'] before:text-[var(--gray)] before:mr-2"
      >
        Who am I?
      </h3>
      <p
        class="text-left text-[var(--gray)] text-lg md:text-xl leading-relaxed"
      >
        My name is <span class="text-[var(--white-icon)] font-semibold"
          >Brayan Javier Martínez Pinzón</span
        >, a
        <span class="text-[var(--sec)] font-semibold">26-year-old</span> self-taught
        developer from
        <span class="text-[var(--sec)] font-semibold">Colombia 🇨🇴</span>.
      </p>
    </div>

    <div class="space-y-3">
      <h3
        class="console-title text-md md:text-lg font-mono text-[var(--sec)] before:content-['//'] before:text-[var(--gray)] before:mr-2"
      >
        Creative Side
      </h3>
      <p
        class="text-left text-[var(--gray)] text-lg md:text-xl leading-relaxed"
      >
        I’m passionate about visual expression. Drawing has been a long-time
        companion, and it constantly influences how I approach UI/UX and
        front-end design with a creative lens.
      </p>
    </div>

    <div class="space-y-3">
      <h3
        class="console-title text-md md:text-lg font-mono text-[var(--sec)] before:content-['//'] before:text-[var(--gray)] before:mr-2"
      >
        Experience
      </h3>
      <p
        class="text-left text-[var(--gray)] text-lg md:text-xl leading-relaxed"
      >
        I’ve been working in <span class="text-[var(--sec)] font-semibold"
          >RPA development</span
        > for over 3 years. While automation sharpened my logic and process design
        skills, I’m now fully focused on web development, where I aim to merge technical
        knowledge with strong design sensibility.
      </p>
    </div>

    <div class="space-y-3">
      <h3
        class="console-title text-md md:text-lg font-mono text-[var(--sec)] before:content-['//'] before:text-[var(--gray)] before:mr-2"
      >
        languages & interests
      </h3>
      <p
        class="text-left text-[var(--gray)] text-lg md:text-xl leading-relaxed"
      >
        I enjoy languages and culture. I speak some English, Italian,
        Portuguese, and French, and I’m currently learning Korean 🇰🇷. K-dramas
        and K-pop are part of my daily routine, and they help me relax and stay
        inspired.
      </p>
    </div>
  </div>
  <div class="mt-10 grid grid-cols-1 gap-6 md:grid-cols-2">
    <div class="space-y-4">
      <h3
        class="text-3xl font-extrabold tracking-tight text-[var(--white-icon)] gradient-text"
      >
        Experience
      </h3>
      <div
        class="bg-white/5 rounded-xl p-5 border border-white/10 backdrop-blur-lg shadow-sm hover:shadow-[0_0_15px_2px_var(--orange)] transition duration-300 ease-in-out"
      >
        <p class="text-[var(--white-icon)] font-semibold">Freelance</p>
        <p class="text-sm text-[var(--gray)]">2025 - Present</p>
        <ul
          class="list-disc ml-5 mt-2 space-y-1 text-[var(--gray)] text-base leading-relaxed"
        >
          <li>Efficient interfaces with Astro and SvelteKit.</li>
          <li>Backend with Node.js, Python, and SQL.</li>
          <li>Documenting development processes.</li>
        </ul>
      </div>
      <div
        class="bg-white/5 rounded-xl p-5 border border-white/10 backdrop-blur-lg shadow-sm hover:shadow-[0_0_15px_2px_var(--orange)] transition duration-300 ease-in-out"
      >
        <p class="text-[var(--white-icon)] font-semibold">
          KPMG Advisory, Tax & Legal
        </p>
        <p class="text-sm text-[var(--gray)]">2021 - 2025</p>
        <ul
          class="list-disc ml-5 mt-2 space-y-1 text-[var(--gray)] text-base leading-relaxed"
        >
          <li>Automation development and documentation.</li>
          <li>Solution design with RPA and Canvas Apps.</li>
        </ul>
      </div>
      <div
        class="bg-white/5 rounded-xl p-5 border border-white/10 backdrop-blur-lg shadow-sm hover:shadow-[0_0_15px_2px_var(--orange)] transition duration-300 ease-in-out"
      >
        <p class="text-[var(--white-icon)] font-semibold">
          Carvajal Soluciones de comunicación
        </p>
        <p class="text-sm text-[var(--gray)]">2017 - 2018</p>
        <ul
          class="list-disc ml-5 mt-2 space-y-1 text-[var(--gray)] text-base leading-relaxed"
        >
          <li>On-site technical support and incident resolution.</li>
          <li>Daily backup management.</li>
        </ul>
      </div>
    </div>
    <div class="space-y-4">
      <h3
        class="text-3xl font-extrabold tracking-tight text-[var(--white-icon)] gradient-text"
      >
        Education
      </h3>

      <div
        class="bg-white/5 rounded-xl p-5 border border-white/10 backdrop-blur-lg shadow-sm hover:shadow-[0_0_15px_2px_var(--orange)] transition duration-300 ease-in-out"
      >
        <p class="text-[var(--white-icon)] font-semibold">
          Manuela Beltrán University
        </p>
        <p class="text-sm text-[var(--gray)]">2023 - Present</p>
        <p class="mt-1 text-[var(--gray)]">Software Engineering</p>
      </div>
      <div
        class="bg-white/5 rounded-xl p-5 border border-white/10 backdrop-blur-lg shadow-sm hover:shadow-[0_0_15px_2px_var(--orange)] transition duration-300 ease-in-out"
      >
        <p class="text-[var(--white-icon)] font-semibold">
          Francisco José de Caldas District University
        </p>
        <p class="text-sm text-[var(--gray)]">2023</p>
        <p class="mt-1 text-[var(--gray)]">
          Intermediate Full Stack Development Diploma
        </p>
      </div>
      <div
        class="bg-white/5 rounded-xl p-5 border border-white/10 backdrop-blur-lg shadow-sm hover:shadow-[0_0_15px_2px_var(--orange)] transition duration-300 ease-in-out"
      >
        <p class="text-[var(--white-icon)] font-semibold">
          Technological University of Pereira
        </p>
        <p class="text-sm text-[var(--gray)]">2021</p>
        <p class="mt-1 text-[var(--gray)]">
          Web Application Development Diploma
        </p>
      </div>
    </div>
  </div>
</section>
