---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import "@/styles/global.css";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="gallery" class="mt-20 md:mt-32 bg-transparent mb-8 pb-8">
  <div class="max-w-3xl mx-auto text-center px-6 space-y-10">
    <h2
      class="gradient-text text-center font-extrabold tracking-tight text-6xl text-[var(--white-icon)] pb-12"
    >
      {t("content_gallery_title")}
    </h2>
  </div>
  <div
    class="bg-white/5 rounded-2xl p-8 backdrop-blur-lg shadow-xl border border-white/10 space-y-10"
  >
    <div class="space-y-3">
      <h3 class="console-title text-md md:text-lg font-mono text-[var(--sec)]">
        {t("content_gallery_subtitle")}
      </h3>
      <p
        class="text-left text-[var(--gray)] text-lg md:text-xl leading-relaxed"
      >
        {t("content_gallery_text1")}
        <a
          href="https://www.instagram.com/jv_fearnot"
          target="_blank"
          rel="noopener noreferrer"
          class="font-semibold shiny-insta hover:underline"
        >
          {t("content_gallery_url")}
        </a>. {t("content_gallery_text2")}
        <a
          href="https://www.instagram.com/jv_fearnot"
          target="_blank"
          rel="noopener noreferrer"
          class="font-semibold shiny-insta hover:underline"
        >
          {t("content_gallery_url2")}
        </a>, {t("content_gallery_text3")}
      </p>
    </div>
  </div>
</section>
<style>
  .shiny-insta {
    background: linear-gradient(
      270deg,
      #feda75,
      #fa7e1e,
      #d62976,
      #962fbf,
      #4f5bd5
    );
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine-insta 3s ease-in-out infinite alternate;
  }

  @keyframes shine-insta {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
