---
import Card from "../components/Card.astro";
import ContentSection from "../components/Content-section.astro";
import projects from "../data/projects.json";
import "../styles/global.css";

const orderedProjects = projects.sort((a, b) => a.featured - b.featured);
---

<section class="pt-4">
  <ContentSection title="Projects" id="projects">
    <div slot="lead" class="text-gray-300 text-2xl mb-[-20px]">
      These are some of the projects I have done, mixing <span
        class="text-[var(--sec)] shiny-sec">Astro</span
      >
      with <span class="text-[var(--sec)] shiny-sec">Sveltekit</span>.
    </div>
    <div class="max-w-full">
      <div
        class="grid gap-6 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 auto-rows-fr"
      >
        {orderedProjects.map((project) => <Card project={project} />)}
      </div>
      <p class="text-right text-2xl">
        <a
          class="text-primary text-gray-300"
          href="https://github.com/JvMeraki"
        >
          ...and <span class="text-[var(--sec)] shiny-sec">more</span>.
        </a> &rarr;
      </p>
    </div>
  </ContentSection>
</section>
