---
import RetroGrid from "@/components/svelte/RetroGridLayout.svelte";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import "@/styles/global.css";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="home" class="mt-12 md:mt-0">
  <div class="max-w-5xl mx-auto space-y-8 md:py-36 pb-14">
    <RetroGrid client:only="svelte" lang={lang} />
    <div class="text-left space-y-4">
      <p class="text-md md:text-2xl text-[var(--gray)]">
        {t("hero_hello")}
      </p>
      <div
        class="flex flex-col lg:flex-row lg:items-center space-y-4 lg:space-y-0 lg:space-x-8 md:gap-4"
      >
        <h1
          class="min-w-fit text-[var(--white-icon)] text-5xl md:text-6xl font-medium text-pretty leading-none"
        >
          {t("hero_role1")}<br />{t("hero_role2")}
        </h1>
        <p class="text-md md:text-2xl text-[var(--gray)] lg:pl-10">
          {t("hero_text1")}
          <span class="text-[var(--sec)] shiny-sec">{t("hero_text_tech1")}</span
          >
          {t("hero_text_union")}
          <span class="text-[var(--sec)] shiny-sec">{t("hero_text_tech2")}</span
          >. {t("hero_text2")}
        </p>
      </div>
    </div>
  </div>
</section>

<style is:global>
  .shiny-sec {
    background: linear-gradient(
      135deg,
      var(--orange) 25%,
      var(--white-icon) 50%,
      var(--orange) 75%
    );
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine 3s linear infinite;
  }

  @keyframes shine {
    0% {
      background-position: 100% 50%;
    }
    30%,
    70% {
      background-position: 0% 50%;
    }
  }
</style>
