---
import "../styles/global.css";
import RetroGrid from "../svelte/RetroGridLayout.svelte";
---

<section id="home" class="mt-12 md:mt-0">
  <div class="max-w-5xl mx-auto space-y-8 md:py-36 pb-14">
    <RetroGrid />
    <div class="text-left space-y-4">
      <p class="text-md md:text-2xl text-[var(--gray)]">
        Hi, I'm Javier Martinez 🩶
      </p>
      <div
        class="flex flex-col lg:flex-row lg:items-center space-y-4 lg:space-y-0 lg:space-x-8 md:gap-4"
      >
        <h1
          class="text-[var(--white-icon)] text-5xl md:text-6xl font-medium text-pretty leading-none"
        >
          Web <br /> Developer
        </h1>
        <p class="text-md md:text-2xl text-[var(--gray)] lg:pl-10">
          Qualified, organized, and detail-oriented Web Developer with
          experience in designing and building PWA and SPA websites using modern
          frameworks such as <span class="text-[var(--sec)] shiny-sec"
            >Astro</span
          > and <span class="text-[var(--sec)] shiny-sec">Sveltekit</span>.
          Proficient in Figma forcreating user-centered UX/UI designs.
        </p>
      </div>
    </div>
  </div>
</section>

<style is:global>
  .shiny-sec {
    background: linear-gradient(
      135deg,
      var(--orange) 25%,
      var(--white-icon) 50%,
      var(--orange) 75%
    );
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine 3s linear infinite;
  }

  @keyframes shine {
    0% {
      background-position: 100% 50%;
    }
    30%,
    70% {
      background-position: 0% 50%;
    }
  }
</style>
